<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

/* input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
} */

select {
  padding: 6px;
  /* height: 32px; */
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

    </style>
</head>
<body>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <div class="row">
    <div class="col-md-12">
      
     
      <form action="/products/<%=categories[0].id%>" method="post" id="add_product" enctype="multipart/form-data">
        
        <fieldset>

          <!-- <legend><span class="number">1</span> Your Basic Info</legend> -->
        
          <label for="product_name">Product Name</label>
          <input type="text" id="product_name" name="product_name">
        
          <label for="product_description">Product Description</label>
          <input type="text" id="product_description" name="product_description">

          <label for="product_price">Product Price</label>
          <input type="text" id="product_price" name="product_price">


          <label for="image_url">Select Image</label>
          <input type="file" id="image_url" name="image_url"><br><br>
   

          <label for="id">Category</label>
          <select name="categoryId" id="categoryId" class="form-control">
            <%for(var i=0; i<categories.length; i++){%>
            <option value="<%= categories[i].id%>"><%= categories[i].category_name%></option> 
            <%}%>
          </select>
     
        </fieldset>
       
        <button type="submit" >Add Product</button>
        
       </form>
        </div>
      </div>
      
    </body>
</html>


    <script>
      

// function changeOtherSelect(value){
//         let secondSelect = document.getElementById('categoryId');
//         for(let i=0; i<secondSelect.childNodes.length; i++){
//             if(secondSelect.childNodes[i].value == value){
//             secondSelect.childNodes[i].selected = true;
//             return true;
//             }
//         }
    

      async function addProduct(id){
         await axios.post(`/products/${id}`,{
          product_name: 'dfjklhds',
          product_description:"gjfdhgjk",
          product_price:3434

        }).then(function(response){ return "data added"})
      }


      const createProduct=async (e)=>{

      console.log("hii");

      e.preventDefault();

      const form = document.querySelector('#add_product');
      const formdata = new FormData(form);
      console.log("jhjh",formdata);

      const selectedCat = document.getElementById('categoryId').value;
      console.log("selectedCat",selectedCat);
        // const categoryId = document.getElementById('categoryId').value;
        // console.log(categoryId);
        const res = await axios.post(`/posts/${selectedCat}`,formdata,{

          headers: {
                        "Content-Type": "multipart/form-data"
                    },

        //   product_name: document.getElementById('product_name').value,
        //   product_description: document.getElementById('product_description').value,
        //   product_price: document.getElementById('product_price').value,
        //   // image_url:"hjhghg.jpg",
        //   categories:{
        //     connect:{
        //       id: selectedCat
        //     }
        //   }
        })
      }
      // const addProduct = async(id, e)=>{
      //   console.log("hiii");
       
      //   e.preventDefault();
      //   console.log("hello");

      //   const res = await axios.post(`products/${id}`,{
      //     product_name: document.getElementById('product_name').value,
      //     product_description: document.getElementById('product_description').value,
      //     product_price: document.getElementById('product_price').value,
      //     // image_url: document.getElementById('image_url').value
      //   })
      // }
      // const addProduct = document.getElementById('add_product');
     

      // async function addProduct(id){
      //   console.log("hello products");


      //   const res = await axios.post(`/products/${id}`);
      //   const user = res.data;
      //   axios.post({
      //     url: `/products/${id}`,
      //     headers:{
      //       'Content-Type':'multipart/form-data'
      //     }
      //   }).then(function(response){ return "data added"})
      // }

      // axios.post(`/products/${id}`).then(function (response) { return "data deleted"})
      // }


    </script>
</body>
</html>