<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/add_category.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <style>


  </style>
</head>

<body>
  <html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <div class="row">
      <div class="col-md-12">

        <form action="/products/product/<%= categories[2].id%>" method="post" id="add_product"
          enctype="multipart/form-data">

          <fieldset>

            <!-- <legend><span class="number">1</span> Your Basic Info</legend> -->

            <label for="product_name">Product Name</label>
            <input type="text" id="product_name" name="product_name">

            <label for="product_description">Product Description</label>
            <input type="text" id="product_description" name="product_description">

            <label for="product_price">Product Price</label>
            <input type="text" id="product_price" name="product_price">


            <label for="image_url">Select Image</label>
            <input type="file" action='upload_file' id="image_url" name="image_url"><br><br>


            <label for="id">Category</label>
            <select name="categoryId" id="categoryId" class="form-control">
              <%for(var i=0; i<categories.length; i++){%>
                <option value="<%= categories[i].id%>">
                  <%= categories[i].category_name%>
                </option>
                <%}%>
            </select>

          </fieldset>

          <button type="submit">Add Product</button>

        </form>
      </div>
    </div>

  </body>

  </html>


  <script>



    async function addProduct(id) {
      await axios.post(`/products/${id}`, {
        product_name: 'dfjklhds',
        product_description: "gjfdhgjk",
        product_price: 3434

      }).then(function (response) { return "data added" })
    }

    const form = document.querySelector('#add_product');


    async function createProduct(e) {

      e.preventDefault()
      console.log("aaaaaaaaaaaaaaaaaaaa", formdata);
      var formdata = new FormData(form);

      // e.preventDefault();

      // const selectedCat = document.getElementById('categoryId').value;
      // console.log("selectedCat",selectedCat);

      // const product_name = document.getElementById('product_name').value;
      // const product_description = document.getElementById('product_description').value;
      // const product_price = document.getElementById('product_price').value;

      const res = await axios.post(`http://localhost:3000/products/product/`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })

      // await axios.get(`/product)
    }
        // const categoryId = document.getElementById('categoryId').value;
        // console.log(categoryId);
      //   const res = await axios.post('upload_file',{
      //     headers:{
      //       'Content-Type': 'multipart/form-data'
      //     }
      //   },`/products/`,{
      //     product_name: document.getElementById('product_name').value,
      //     product_description: document.getElementById('product_description').value,
      //     product_price: document.getElementById('product_price').value,
      //     image_url:upload_file,
      //     categories:{
      //       connect:{
      //         id: selectedCat
      //       }
      //     }
      //   })
      // }




  </script>
</body>

</html>